#field {
}

.card {
    width: 70px;
    height:100px;
    line-height: 100px;
    text-align: center;
    border: 2px solid #AAA;
    border-radius: 5px;
    font-size: 30px;
    margin: 8px;
    float: left;
}
